//背景图
@mixin fillBackground(
  $url,
  $left: center,
  $top: center,
  $width: 100%,
  $height: 100%
) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: $left $top;
  background-size: $width $height;
}

@mixin borderRadios($size) {
  border-radius: $size;
}
