.loadingBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(3, 25, 83, 1);
  .text {
    font-size: 18px;
    color: #a4a7ab;
  }
}
